html { 
  background: url(https://stravamg.files.wordpress.com/2015/07/bart_with_blackboard.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

body {
	font-family: Comic Sans MS, cursive, Serif;
	color: white;
}

.app {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 20px;
}

h1 {
	text-align: center;
	padding-bottom: 50px;
}

div {
	padding-left: 50px;
}

button {
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 15px;
width: 100px;
height: 60px;
background-color: white;
font-family: Comic Sans MS, cursive, Serif;
font-size: 20px;
}

button:hover {
    background-color: #4CAF50; 
    color: white;
}

img {
height: 300px;
width: 300px;
}


.hidden {
	display: none;
}

